html, body {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
#WORKS .mix{
  display: none;
  position: relative;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  width: 450px;
  height: 300px;
}

#WORKS .mix.DIGITAL {
  background: lightyellow;
}

#WORKS .mix.PRODUCT {
  background: lightblue;
}

#WORKS .mix.VISUAL {
  background: pink;
}

#WORKS li {
  /*width: 450px;*/
  /*height: 300px;*/
  /*position: absolute;
  color: #fff;
  font-family: 'Nanum Gothic';
  font-size: 18px;
  font-weight: 400px;
  text-align: center;*/
}
#WORKS li .title{
  position: absolute;
  color: #fff;
  font-family: 'Nanum Gothic';
  font-size: 25px;
  font-weight: 350px;
  text-align: center;
}

div.filter {
  display: inline-block;
  margin: 20px;
  padding: 5px;
  color: #fff;
  background: #000;
  cursor: pointer;
}