/* Google Webfont Raleway 불러오기 */
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothicweb.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,600,700,800,900|Pacifico|Lato:300,400);
/* Icon font Entypo 불러오기 */
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
	font-family:"entypo",sans-serif
}

body{
	font-family: "Nanum Gothic", NanumGothic, 나눔고딕, 돋움, "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	background: #fff;
}
/*i {
	font-style:normal
}*/

/*body,button,input,select,textarea {
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing:antialiased;
	color:#fff
}*/

.main {
	height: 100%;
}

.home {
	display: table;
}

.home .container {
	/*height: 100%;*/
	display: table-cell;
	vertical-align: middle;
	/*margin: auto 0;*/
}


/* Home 중앙 이미지 */
.home img {
	width:250px;
	height:auto;
	display:block;
	margin:0 auto;
	margin-top:0;
	margin-bottom: 50px;
	box-sizing: border-box;
}
/* 스마트폰 미디어쿼리 */
@media screen and (max-width: 30.6em) {
	.home img {
		width:180px;
		height:auto;
	}
}
@media (min-width: 768px) {
	.home img {
		margin-top:0;
	}
}

/* home button */
.home .home-button{
	background-color: #464646;
	width: 120px;
	height: 35px;
	font-family:"Raleway",sans-serif;
	font-size: 25px;
	text-align:center;
	margin:0 auto;
}
.home .home-button:hover{
	background-color: #f9bf21;
	
}
a{
	color: #fff;
	text-decoration:none;
}




::-moz-selection {
	background:#fff
}
::selection {
	background:#fff
}
section {
	overflow:hidden
}
